.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  #detail-mobile {
    display: none;
  }
}

.tab-content {
  padding-top: 100px;
}

#header {
  background-color: rgba(0, 0, 0, 0.75);
}

#ListMovie {
  background-color: rgb(255, 245, 224);
  padding: 5rem 0px;
}
#itemMovie:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-card .ant-card-body {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-card-bordered {
  border: 0px;
}

.detail {
  background-color: rgb(255, 105, 105);
}

#infomation {
  background-image: url("https://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg");
}

#Footer {
  background: rgb(20, 30, 70);
}

#detailPage {
  background-color: rgb(255, 245, 224);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .ant-tabs-left.ant-tabs-top > .ant-tabs-nav {
    flex-direction: row;
  }
  .ant-tabs-left.ant-tabs-top > .ant-tabs-content-holder {
    flex-direction: column;
  }
  .ant-tabs-left.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
    margin-bottom: 0;
  }
}
